.author
  display: flex
  align-items: center
.avatar
  size: 32px
  background-image: url('./author.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  margin-right: 10px
.name
  font-size: .7em
  font-weight: 700
